# See https://help.github.com/ignore-files/ for more about ignoring files.

# Custom json settings
/src/config.json

# dependencies
/node_modules

# testing
/junit.xml
/coverage

# renders
/render
!/src/render

# build
/dist
/dist-sb

# electron
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn modern
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# rollup visualizer
stats.html

# storybook
*storybook.log

# playwrite
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
