.b18 {
  position: relative;
  text-align: left;

  .tiles {
    display: flex;
    flex-wrap: nowrap;
    height: 900px;

    .tile {
      width: 150px;
      height: 900px;

      display: flex;
      flex-direction: column;

      .tile-rotation {
        width: 150px;
        height: 150px;

        svg {
          margin: 0 0 10px 0;

          &:last-child {
            margin: 0;
          }
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .tokens {
    margin: 0;
    padding: 0;

    .token {
      width: 90px;
      height: 30px;
      margin: 0;
      padding: 0;
    }
  }
}
