:where(.root) {
  background-color: var(--palette-background-paper);
  color: var(--palette-text-primary);
  transition: box-shadow var(--duration-standard) var(--ease-in-out);
}

:where(.rounded) {
  border-radius: var(--radius);
}

:where(.elevation1) {
  box-shadow: var(--shadow-1);
}

:where(.elevation5) {
  box-shadow: var(--shadow-5);
}

:where(.elevation10) {
  box-shadow: var(--shadow-10);
}
