:where(.table) {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

:where(.tableSticky) {
  border-collapse: separate;
}

:where(.container) {
  width: 100%;
  overflow-x: auto;
}

:where(.head) {
  display: table-header-group;
}

:where(.body) {
  display: table-row-group;
}

:where(.row) {
  display: table-row;
  outline: 0;
  color: inherit;
  vertical-align: middle;
}

:where(.cell) {
  display: table-cell;
  border-bottom: 1px solid rgb(224 224 224);
  padding: 16px;
  color: var(--palette-text-primary);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  text-align: left;
  vertical-align: inherit;
}

:where(.cellHead) {
  font-weight: 500;
  line-height: 1.5rem;
}

:where(.cellBody) {
  font-weight: 400;
}

:where(.cellSmall) {
  padding: 6px 16px;
}

:where(.cellSticky) {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--palette-background-default);
}

:where(.align-right) {
  flex-direction: row-reverse;
  text-align: right;
}
