footer {
  width: 800px;
  margin: 0 auto;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.8em;
}

footer a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

footer a:hover {
  color: rgb(95 35 132);
}

.LegalNotes {
  background-color: #a00;
  border-bottom: 2px solid #900;
  color: #fff;
  font-family: sans-serif;
}

.LegalNotes strong {
  font-weight: bold;
}

.WIP {
  background-color: #ffa;
  border-bottom: 2px solid #dda;
  font-family: sans-serif;
  font-weight: normal;
}
