.atoms {
  margin: 0 auto;
  width: 1300px;

  dl {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  dt {
    flex-basis: 100%;
    font-size: 2em;
    margin: 1em 0 0.5em 0;
  }

  dd {
    margin: 1em 0;
    width: 320px;

    svg {
      margin: 0 42.3975px;
    }

    pre {
      margin: 1em 1em 0 1em;
      text-align: left;
      background: #eee;
      border-radius: 6px;
      padding: 1em;
    }
  }

  p {
    flex-basis: 100%;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0;
  }
}
