.cheat {
  width: 800px;
  margin: 0 auto;
  position: relative;

  strong {
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    font-size: 3em;
    margin: 0;

    span {
      font-size: .4em;
    }
  }

  p, ul, table {
    font-family: sans-serif;
  }

  p.note {
    padding: 0.5em;
    border-radius: 0.5em;
  }

  a:link {
    text-decoration: underline;
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  thead tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(odd) {
    background-color: #ccc;
  }

  th {
    text-align: left;
  }

  td {
    padding: 0.2em 0.2em 0.4em 0.2em;
    vertical-align: top;

    &.bank {
      text-align: right;
    }

    span {
      font-size: 0.7em;
      color: #333;
    }

    table {
      margin-top: 0.1em;
      font-size: 1em;
      line-height: 1em;
      border-collapse: collapse;

      td,th {
        background-color: none;
        padding: 3px;
        border-color: #666;
        border-style: dotted;
        border-width: 1px;
      }
    }
  }
};
