.config {
  width: 800px;
  margin: 0 auto;
  position: relative;

  strong {
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    font-size: 5em;
    margin: 0;

    span {
      font-size: .4em;
    }
  }

  p, ul, label, span {
    font-family: sans-serif;
  }

  p.note {
    padding: 0.5em;
    border-radius: 0.5em;
  }

  li.game a {
    font-weight: bold;
    font-size: 1.2em;
  }

  a:link {
    text-decoration: underline;
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .input span {
    color: #777;
    font-size: 0.8em;
  }

  .description p {
    font-size: 0.8em;
    margin-top: 0.2em;
    line-height: 1.4em;
  }

  div.preview-bar {
    margin-left: 1em;
    overflow: auto;
    display: inline-block;
    clear: both;
  }

  div.preview {
    height: 1.4em;
    width: 1.4em;
    float: left;
  }
};
