.GameMenu {
  position: fixed;
  top: 100px;
  left: -185px;
  width: 200px;
  background: #bbb;
  border: 2px solid black;
  border-radius: 5px;
  transition-property: left;
  transition-duration: 0.33s;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.GameMenu:hover {
  left: -10px;
}

.GameMenu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.GameMenu li {
  text-align: left;
}

@media print {
  .GameMenu {
    display: none;
  }
}
