.home {
  width: 800px;
  margin: 0 auto;
  position: relative;

  strong {
    font-weight: bold;
    font-size: 1.2em;
  }

  svg {
    position: absolute;
    top: 1.5em;
    left: calc(-75.0555px - 1em);
    width: 75.0555px;
    height: 65px;
  }

  h1 {
    font-size: 5em;
    margin: 0;

    span {
      font-size: .4em;
    }
  }

  p, ul {
    font-family: sans-serif;
  }

  p.note {
    padding: 0.5em;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
  }

  p.note.warning {
    background-color: #a00;
    border-color: #900;
    color: #fff;
  }

  p.note.wip {
    background-color: #ffa;
    border-color: #dda;
    color: #000;
  }

  li.game a {
    font-weight: bold;
    font-size: 1.2em;
  }

  a:link {
    text-decoration: underline;
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
};
