@import url("https://fonts.googleapis.com/css?family=Bitter:700");

@import url('https://fonts.googleapis.com/css?family=Limelight');

@page {
  margin: 0.25in;
}

body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  font-family: "Bitter", serif;
}

.map {
  position: relative;
  padding: 0.125in;
}

.map svg {
  margin: 0.5in;
}

h1 {
  text-align: left;
}

h2 {
  font-size: 5mm;
  line-height: 0.5in;
  height: 0.5in;
  text-align: left;
  margin: 0;
}

.home ul,
.home h1,
.home h2 {
  padding-left: 40px;
}

.tileSheet svg {
  float: left;
  margin: 0 0.125in 0.125in 0;
}

.home {
  overflow: auto;
  text-align: left;
}

.home ul {
  overflow: auto;
  list-style: none;
}

.home li {
  display: inline-block;
  margin-right: 2em;
}

a {
  text-decoration: none;
}

svg {
  overflow: visible;
}

.cards {
  position: relative;
  overflow: auto;
}

.charters {
  position: relative;
  overflow: auto;
}

.card {
  page-break-inside: avoid;
  font-family: "Bitter", serif;
  height: calc(43.5mm + 0.25in);
  width: calc(67.5mm + 0.25in);
  box-sizing: border-box;
  position: relative;
  background-color: white;
  float: left;
}

.charter {
  page-break-inside: avoid;
  font-family: "Bitter", serif;
  height: 4.75in;
  width: 7.5in;
  position: relative;
  background-color: white;
  float: left;
}

.charter__hr {
  height: 0.0625in;
  position: absolute;
  top: 1.125in;
  width: 100%;
}

.charter__name {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.125in 0.125in 0 0.125in;
  padding-left: 0.125in;
  height: 1in;
  line-height: 1in;
  font-size: 0.25in;
  box-sizing: border-box;
  width: calc(100% - 0.25in);
  text-align: left;
}


.charter__trains {
  text-align: left;
  position: absolute;
  height: 3.4375in;
  bottom: 0;
  left: 0;
  margin: 0.125in 0 0 0.125in;
  width: 3.625in;
  padding: 0 0.125in 0.25in 0.125in;
  box-sizing: border-box;
  border-width: 0 1px 0 0;
  border-color: #666;
  border-style: dashed;
}

.charter__treasury {
  text-align: left;
  position: absolute;
  height: 3.4375in;
  bottom: 0;
  right: 0;
  margin: 0.125in 0.125in 0 0;
  width: 3.625in;
  padding: 0 0.125in 0.25in 0.125in;
  box-sizing: border-box;
}

.charter__phase {
  position: absolute;
  bottom: 0;
  padding: 0 0.125in 0.25in 0;
  width: calc(100% - 0.25in);
}

.charter__phase table {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.09in;
  border-collapse: collapse;
  width: 100%;
}

.charter__phase th {
  padding: 0 0.05in;
  font-family: "Bitter", serif;
  text-align: center;
}

.charter__phase th.phase__notes {
  text-align: left;
}

.charter__phase td {
  padding: 0.03in 0.1in;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.charter__phase td.phase__notes {
  text-align: left;
}

.charter dl {
  position: absolute;
  bottom: 0;
  margin: 0 0 0.125in 0;
  width: calc(100% - 0.25in);
}

.charter dt {
  font-size: 0.13in;
}

.charter dd {
  margin: 0 0 0.125in 0;
  font-size: 0.12in;
  font-family: "Helvetica", "Arial", sans-serif;
}

.charter ul {
  list-style-type: lower-latin;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.charter ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.train__name {
  color: #000;

  box-sizing: border-box;
  width: 100%;
  height: 0.875in;
  padding: 0.25in 0.25in 0.125in 0.25in;
  line-height: 0.4in;
  font-size: 0.4in;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;

  font-weight: bold;
}

.train__tracks {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.5in;
  bottom: -0.0625in;
  left: 0;
  opacity: 0.25;
}

.train__tracks svg {
  height: 100%;
  width: 100%;
}

.train__hr {
  position: absolute;
  left: 0;
  top: 0.75in;
  width: 100%;
  height: 0.0625in;
}

.train__price {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.5in;
  line-height: 0.5in;
  font-size: 0.25in;
}

.train__description {
  position: absolute;
  height: 0.4375in;
  width: calc(100% - 1.25in);
  bottom: 0.625in;
  margin: 0 0.125in;
  padding: 0 0.125in 0 0.875in;
  right: 0;
  text-align: right;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.12in;
  line-height: 0.16in;
}

.train__notes {
  position: absolute;
  bottom: 0;
  width: calc(100% - 0.25in);
  padding: 0.125in;
  margin: 0.125in;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.train__info {
  height: 0.25in;
  line-height: 0.25in;
  padding: 0 0.1in;
  border-radius: 0.06in;
}

.share__hr {
  height: 0.0625in;
  position: absolute;
  bottom: 0.5in;
  width: 100%;
}

.share__name {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 0.5in);
  padding: 0.125in;
  line-height: 0.21in;
  font-size: 0.21in;
  margin: 0.125in;
  text-align: center;
}

.share__token {
  width: 50%;
  height: 75%;
  position: absolute;
  top: 0.5in;
  right: 0;
}

.share__label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.625in;
  width: 100%;
  height: 0.5in;
}
.share__label__text {
  height: 0.25in;
  line-height: 0.25in;
  padding: 0 0.1in;
  border-radius: 0.06in;
  display: inline-block;
}

.charter__tokens {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.26in 0.125in 0.125in 0.125in;
  margin: 0.125in 0.125in 0 0;
  height: 1in;
  box-sizing: border-box;
}

.charter__tokens svg {
  width: 0.5in;
  height: 0.7in;
  padding: 0 0 0 0.15in;
}

.share__percent {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.share__shares {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__name {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0.5in);
  padding: 0.125in;
  line-height: 0.18in;
  font-size: 0.18in;
  margin: 0.125in;
  text-align: left;
}

.private__price {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__revenue {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.18in;
}

.private__description {
  position: absolute;
  top: 0.46875in;
  width: calc(100% - 0.5in);
  padding: 0 0.125in;
  margin: 0 0.125in;
  text-align: left;
  left: 0;
  line-height: 0.105in;
  font-size: 0.085in;
  font-family: "Helvetica", "Arial", sans-serif;
}

.stock {
  position: relative;
  overflow: auto;
}

.prices {
  position: relative;
  overflow: hidden;
  page-break-inside: avoid;
  height: 8in;
}

.stock table {
  border-collapse: collapse;
}

.stock td {
  line-height: 0.15in;
  font-size: 0.15in;
  height: 0.67in;
  width: 0.6in;
  border: 1px solid black;
  padding: 0.05in;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  position: relative;
}

.stock .par td {
  width: 2in;
}

.stock .market {
  position: relative;
}

.stock .market td.up:after {
  position: absolute;
  content: '↑';
  bottom: 2mm;
  right: 1mm;
  font-weight: bold;
  color: black;
}

.stock .market td.down:after {
  position: absolute;
  content: '↓';
  bottom: 2mm;
  left: 1mm;
  font-weight: bold;
  color: black;
}

.stock td.empty {
  border: none;
}

.rounds {
  position: absolute;
  bottom: 0;
  height: 2.75in;
  width: 1in;
  right: 2.25in;
}

.rounds .tokens {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.rounds svg {
  height: 0.6in;
  width: 0.6in;
  top: 0.3in;
  left: 0.3in;
  position: relative;
}

.rounds svg:after {
  content: '→';
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-weight: bold;
  text-align: right;
  line-height: 0.6in;
  height: 0.6in;
  width: 0.7in;
  display: block;
}

.par {
  position: absolute;
  bottom: 0;
  right: 0;
}

.legend {
  position: absolute;
  bottom: -0.125in;
  right: 3.1in;
  width: 3in;
}

.revenue {
  page-break-inside: avoid;
  height: 4in;
}

.revenue table {
  margin-bottom: 0.25in;
}

.pools {
  page-break-inside: avoid;
  display: grid;
  grid-column-gap: 0.25in;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  height: 4in;
  box-sizing: border-box;
}

.pool {
  flex-grow: 1;
  box-sizing: border-box;
}

.pool:last-child {
  padding: 0;
}

.pool__box {
  box-sizing: border-box;
  height: calc(100% - 0.5in);
  border: 1px solid black;
}

ul.notes {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  flex-direction: column;
}

ul.notes li {
  margin-bottom: 0.125in;
  margin-left: 0.4in;
  margin-right: 0.25in;
  text-align: left;
  position: relative;
  font-size: 0.15in;
  line-height: 0.19in;
}

ul.notes li span {
  display: block;
  padding: 0;
  font-size: 0.13in;
  line-height: 0.17in;
  height: 0.17in;
  width: 0.17in;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 0.085in;
  left: -0.29in;
  top: 0;
  position: absolute;
  text-align: center;
}

.cutlines {
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0.25in;
  page-break-inside: avoid;
}

.cutlines:before {
  content: '';
  width: 0.25in;
  height: calc(100% - 0.75in);
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  left: 0;
  top: 0.375in;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.cutlines:after {
  content: '';
  width: 0.25in;
  height: calc(100% - 0.75in);
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  right: 0;
  top: 0.375in;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.cutlines > div:before {
  content: '';
  width: calc(100% - 0.25in);
  height: 0.25in;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  top: -0.25in;
  left: 0.125in;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cutlines > div:after {
  content: '';
  width: calc(100% - 0.25in);
  height: 0.25in;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  bottom: -0.25in;
  left: 0.125in;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
