html {
  margin: 0px;  /* this affects the margin on the html before sending to printer */
}

body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  font-family: display;
  font-weight: bold;
}

p {
  font-weight: normal;
}

.tokens {
  position: relative;
  margin: 2em auto;
}

.background {
  height: 10.25in;
  width: 8in;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.background .text {
  width: 165%;
  height: 170%;
  position: absolute;
  top: -5.25in;
  left: -4in;
  transform: rotate(-30deg);
}

.background span {
  display: block;
  float: left;
  margin: 0 0.0625in 0 0;
  color: #fff;
  opacity: 0.20;
}

.map {
  position: relative;
  padding: 0.0625in;
}

.map svg {
  margin: 0 auto;
  display: block;
}

.tileSheet div.row {
  clear: left;
  page-break-inside: avoid;
  margin: 0 auto;
  overflow: visible;
}

.tileSheet--die {
  width: 8in;
  margin: auto;
}

.tileSheet--offset div.row:nth-child(even) {
    padding-left: 1.73205in;
}

.tileSheet--individual div.row svg {
  margin: 0 0.125in 0.125in 0;
}

.tileSheet--individual div.row svg:last-child {
  margin: 0 0 0.125in 0;
}

.tileSheet--die div.row {
  overflow: hidden;
}

.tileSheet--die div.row:first-child,
.tileSheet--die div.row:last-child {
  overflow: visible;
}

.tileSheet--die div.row svg {
  margin: 0 0.05in 0 0;
}

.tileSheet--die div.row svg:last-child {
  margin: 0;
}

.tileSheet svg {
  float: left;
  position: relative;
}

a {
  text-decoration: none;
}

svg {
  overflow: visible;
}

.cards {
  position: relative;
  overflow: auto;
}

.charters {
  position: relative;
  overflow: auto;
}

.card {
  page-break-inside: avoid;
  font-family: display;
  height: calc(44mm + 0.25in);
  width: calc(67.5mm + 0.25in);
  box-sizing: border-box;
  position: relative;
  background-color: white;
  float: left;
}

.charter {
  page-break-inside: avoid;
  font-family: display;
  height: 4.75in;
  width: 7.5in;
  position: relative;
  background-color: white;
  float: left;
}

.charter--half {
  width: 3.75in;
}

.charter__hr {
  height: 0.0625in;
  position: absolute;
  top: 1.125in;
  width: 100%;
}

.charter--color .charter__hr {
  top: 0;
  height: 1.1875in;
}

.charter__name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25in 0.25in 0.25in 0.25in;
  height: 1.1875in;
  font-size: 0.25in;
  line-height: 0.3in;
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charter--half .charter__name {
  font-size: 0.18in;
  line-height: 0.22in;
}

.charter--color .charter__name {
  padding-left: 1.125in;
}

.charter__logo {
  height: 0.75in;
  width: 0.75in;
  margin: 0.125in 0.125in 0 0.125in;
  padding-top: 0.125in;
  padding-left: 0.125in;
  position: relative;
}
.charter__logo > svg {
  height: 0.75in;
  width: 0.75in;
  position: relative;
}

.charter__trains {
  text-align: left;
  position: absolute;
  height: 3.1875in;
  bottom: 0;
  left: 0;
  margin: 0.125in 0 0.25in 0.125in;
  width: 3.625in;
  padding: 0 0.125in 0 0.125in;
  box-sizing: border-box;
  border-width: 0 1px 0 0;
  border-color: #666;
  border-style: dashed;
}

.charter__assets {
  text-align: left;
  position: absolute;
  height: 3.1875in;
  bottom: 0;
  left: 0;
  margin: 0.125in 0.125in 0.25in 1.125in;
  width: 2.5in;
  padding: 0 0.125in;
  box-sizing: border-box;
  border-width: 0 0 0 1px;
  border-color: #666;
  border-style: dashed;
}

.charter__game {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.12in;
  text-align: left;
  position: absolute;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  bottom: 0;
  width: 100%;
  left: calc(100% - 0.25in);
  margin: 0.125in;
  padding: 0.125in;
  box-sizing: border-box;
}

.charter__treasury {
  text-align: left;
  position: absolute;
  height: 3.4375in;
  bottom: 0;
  right: 0;
  margin: 0.125in 0.125in 0 0;
  width: 3.625in;
  padding: 0 0.125in 0.25in 0.125in;
  box-sizing: border-box;
}

.charter__phase {
  position: absolute;
  bottom: 0;
  padding: 0 0.125in 0 0;
  width: calc(100% - 0.25in);
}

.charter__phase table {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.09in;
  border-collapse: collapse;
  width: 100%;
}

.charter__phase th {
  padding: 0 0.05in;
  font-family: display;
  text-align: center;
}

.charter__phase th.phase__notes {
  text-align: left;
}

.charter__phase td {
  padding: 0.03in 0.05in;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.charter__phase td.phase__notes {
  text-align: left;
  white-space: normal;
}

.charter dl {
  position: absolute;
  bottom: 0;
  margin: 0 0 0.125in 0;
  padding: 0 0 0.125in 0;
  width: calc(100% - 0.25in);
}

.charter--half dl {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: calc(100% - 0.25in);
}

.charter dt {
  margin: 0.125in 0 0 0;
  font-size: 0.13in;
}

.charter dd {
  margin: 0;
  font-size: 0.12in;
  font-family: sans-serif;
  font-weight: normal;
}

.charter ul {
  list-style-type: disc;
  list-style-position: outside;
  padding: 0;
  padding-left: 3px;
  margin: 0 0 0 0.15in;
}

.charter ul li span {
  position: relative;
  left: -3px;
}

.charter ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding: 0;
  margin: 0 0 0 0.15in;
}

.minorCharter {
  page-break-inside: avoid;
  font-family: display;
  height: 3in;
  width: 5in;
  position: relative;
  background-color: white;
  float: left;
}

.minorCharter__hr {
  height: 0.0625in;
  position: absolute;
  top: .7in;
  width: 100%;
}

.minorCharter__name {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0.125in 0 0.125in;
  padding-left: 0.125in;
  height: 1in;
  line-height: 1in;
  font-size: 0.25in;
  box-sizing: border-box;
  width: calc(100% - 0.25in);
  text-align: left;
}


.minorCharter__trains {
  text-align: left;
  position: absolute;
  height: 2.25in;
  bottom: 0;
  left: 0;
  margin: 0.125in 0 0 0.125in;
  width: 1.75in;
  padding: 0 0.125in 0.25in 0.125in;
  box-sizing: border-box;
  border-width: 0 1px 0 0;
  border-color: #666;
  border-style: dashed;
}

.minorCharter__treasury {
  text-align: left;
  position: absolute;
  height: 2.25in;
  bottom: 0;
  right: 0;
  margin: 0.0in 0.125in 0 0;
  width: 2.625in;
  padding: 0 0.125in 0.25in 0.125in;
  box-sizing: border-box;
}

.minorCharter dl {
  position: absolute;
  bottom: 0;
  margin: 0 0 0.125in 0;
  padding: 0 0 0.125in 0;
  width: calc(100% - 0.25in);
}

.minorCharter dt {
  margin: 0.125in 0 0 0;
  font-size: 0.13in;
}

.minorCharter__phase {
  position: absolute;
  bottom: 0;
  padding: 0 0.125in 0.25in 0;
  width: calc(100% - 0.25in);
}

.minorCharter__phase table {
  font-family: sans-serif;
  font-size: 0.09in;
  border-collapse: collapse;
  width: 100%;
}

.minorCharter__phase th {
  padding: 0 0.05in;
  font-family: display;
  text-align: center;
}

.minorCharter__phase th.phase__notes {
  text-align: left;
}

.minorCharter__phase td {
  padding: 0.03in 0.05in;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.minorCharter__phase td.phase__notes {
  text-align: left;
  white-space: normal;
}

.minorCharter dd {
  margin: 0;
  font-size: 0.12in;
  font-family: sans-serif;
}

.minorCharter ul {
  list-style-type: disc;
  list-style-position: outside;
  padding: 0;
  padding-left: 3px;
  margin: 0 0 0 0.15in;
}

.minorCharter ul li span {
  position: relative;
  left: -3px;
}

.minorCharter ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding: 0;
  margin: 0 0 0 0.15in;
}

.train__name {
  color: #000;

  box-sizing: border-box;
  width: 100%;
  height: 0.875in;
  padding: 0.25in 0.25in 0.125in 0.25in;
  line-height: 0.4in;
  font-size: 0.4in;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;

  font-weight: bold;
}

.train__tracks {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.5in;
  bottom: -0.0625in;
  left: 0;
  opacity: 0.25;
}

.train__tracks svg {
  height: 100%;
  width: 100%;
}

.train__hr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.8125in;
}

.train__price {
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.5in;
  line-height: 0.5in;
  font-size: 0.25in;
}

.train__description {
  position: absolute;
  height: 0.4375in;
  width: calc(100% - 0.25in);
  bottom: 0.625in;
  margin: 0 0.125in;
  padding: 0 0.125in 0 0.125in;
  box-sizing: border-box;
  right: 0;
  text-align: right;
  font-family: sans-serif;
  font-size: 0.12in;
  font-weight: normal;
  line-height: 0.16in;
}

.train__notes {
  position: absolute;
  bottom: 0;
  width: calc(100% - 0.25in);
  padding: 0.125in;
  margin: 0.125in;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.train__info {
  height: 0.25in;
  line-height: 0.25in;
  padding: 0 0.1in;
  margin-top: 0.05in;
  border-radius: 0.06in;
}

.train__players {
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.14in;
  margin-top: 0.05in;
}

.charter__tokens {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.26in 0.125in 0.125in 0.125in;
  margin: 0.125in 0.125in 0 0;
  height: 1in;
  box-sizing: border-box;
  line-height: normal;
}

.charter__tokens svg {
  width: 0.5in;
  height: 0.7in;
  padding: 0 0 0 0.15in;
}

.charter--half .charter__tokens {
  top: 1.1875in;
  height: calc(100% - 1.1875in - 0.25in);
  width: 1in;
  margin: 0.125in 0 0.125in 0.125in;
  padding: 0 0.125in 0.125in 0.125in;
  left: 0;
  right: auto;
}

.charter--half .charter__tokens svg {
  height: 0.5in;
  padding: 0.05in 0 0 0;
}


.minorCharter__tokens {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.26in 0.125in 0.125in 0.125in;
  margin: 0in 0.125in 0 0;
  height: 1in;
  box-sizing: border-box;
}

.minorCharter__tokens svg {
  width: 0.5in;
  height: 0.7in;
  padding: 0 0 0 0.15in;
}

.private__name {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 0.5in);
  padding: 0.125in 0.125in 0.03125in 0.125in;
  line-height: 0.22in;
  font-size: 0.18in;
  margin: 0.125in 0.125in 0 0.125in;
  text-align: left;
}

.private__icon {
  float: right;
  line-height: 0.22in;
  font-size: 0.18in;
  margin: 0.125in 0.125in 0 0;
  padding: 0.125in;
}

.private__description {
  position: relative;
  width: calc(100% - 0.5in);
  padding: 0 0.125in;
  margin: 0 0.125in;
  text-align: left;
  left: 0;
  line-height: 0.105in;
  font-size: 0.085in;
  font-weight: normal;
  font-family: sans-serif;
}


.private__price {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__bid {
  position: absolute;
  bottom: 0.25in;
  left: 0;
  margin: 0.125in;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__players {
  position: absolute;
  bottom: 0.25in;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.14in;
}

.private__revenue {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.125in;
  padding: 0.125in;
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.18in;
}

.prices {
  position: relative;
  overflow: hidden;
  page-break-inside: avoid;
  height: 8in;
}

.stock {
  position: relative;
  margin: 0.25in;
}

.stock table {
  border-collapse: collapse;
}

.stock td {
  line-height: 0.15in;
  font-size: 0.15in;
  border: 1px solid black;
  padding: 0.05in;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  position: relative;
}

.stock .market {
  position: relative;
}

.stock td.empty {
  border: none;
}

.stock table.diag td.double {
  width: 1in;
}

.stock table.diag td.start {
  border-width: 1px 0 1px 1px;
  width: 1in;
}

.stock table.diag td.start-half {
  border-width: 1px 1px 1px 0;
  width: 0.5in;
}

.stock table.diag td.end {
  border-width: 1px 1px 1px 0;
  width: 1in;
}

.stock table.diag td.end-half {
  border-width: 1px 0 1px 1px;
  width: 0.5in;
}


.rounds {
  position: relative;
  height: 2.75in;
  width: 1in;
}

.rounds--horizontal {
  height: 1in;
  width: 2.75in;
}

.rounds .tokens {
  position: absolute;
  bottom: 0.01in;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0;
}

.rounds--horizontal .tokens {
  justify-content: flex-end;
  flex-direction: row;
}

.rounds svg {
  height: 0.5in;
  width: 0.5in;
  top: 0;
  left: 0;
  padding-top: 0.15in;
  position: relative;
}

.rounds--horizontal .tokens svg {
  padding-top: 0;
  padding-left: 0.15in;
}

.legend {
  position: absolute;
  bottom: -0.125in;
  right: 3.1in;
  width: 3in;
  padding-left: 0.35in;
}

ul.notes {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 0.125in;
}

ul.notes li {
  margin-bottom: 0.125in;
  text-align: left;
  position: relative;
  font-size: 0.15in;
  line-height: 0.2in;
}

ul.notes li i {
  font-size: 0.15in;
  line-height: 0.25in;
  height: 0.25in;
  width: 0.25in;
  display: inline-block;
  margin-right: 0.1in;
  text-align: center;
  border-radius: 0.125in;
}

ul.notes li span {
  display: inline-block;
  font-size: 0.10in;
  line-height: 0.24in;
  height: 0.15in;
  width: 0.15in;
  border-radius: 0.075in;
  text-align: center;
  position: absolute;
  left: -0.2in;
  top: 0.01in;
}

.cutlines {
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0.25in;
  page-break-inside: avoid;
}

.cutlines-inner {
  position: relative;
}

.cutlines:before {
  content: '';
  width: 0.25in;
  height: calc(100% - 0.75in);
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  left: 0;
  top: 0.375in;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.cutlines:after {
  content: '';
  width: 0.25in;
  height: calc(100% - 0.75in);
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  right: 0;
  top: 0.375in;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.cutlines > div:before {
  content: '';
  width: calc(100% - 0.25in);
  height: 0.25in;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  top: -0.25in;
  left: 0.125in;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cutlines > div:after {
  content: '';
  width: calc(100% - 0.25in);
  height: 0.25in;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  bottom: -0.25in;
  left: 0.125in;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

footer {
  width: 800px;
  margin: 0 auto;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.8em;
}

footer a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

footer a:hover {
  color: rgb(95,35,132);
}

.LegalNotes {
  background-color: #a00;
  border-bottom: 2px solid #900;
  color: #fff;
  font-family: sans-serif;
}

.LegalNotes strong {
  font-weight: bold;
}

.WIP {
  background-color: #ffa;
  border-bottom: 2px solid #dda;
  font-family: sans-serif;
  font-weight: normal;
}

.PrintNotes {
  background-color: #ddd;
  border-bottom: 2px solid #bbb;
  font-family: sans-serif;
  font-weight: normal;
}

.WIP > div,
.LegalNotes > div,
.PrintNotes > div {
  width: 800px;
  margin: 0 auto;
  padding: 0 0 2px 0;
}

.PrintNotes h3 {
  display: inline-block;
  font-size: 0.8em;
}

.PrintNotes .select {
  display: inline-block;
  margin-right: 2em;
}

.PrintNotes label {
  display: inline-block;
  margin-right: 1em;
}

.WIP p,
.LegalNotes p,
.PrintNotes p {
  margin: 0.5em 0 0.4em;
  display: inline-block;
}

.PrintNotes b {
  font-weight: bold;
}

.PrintNotes ul {
  padding: 0;
  list-style: none;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;
}

.PrintNotes li a {
  color: black;
}

.PrintNotes li a.active {
  font-weight: bold;
}

@media print {
  nav,
  footer,
  .LegalNotes,
  .PrintNotes,
  .WIP {
    display: none;
  }

  .map {
    padding: 0;
  }

  .stock {
    margin: 0;
  }

  .tokens {
    margin: 0;
  }

  .TileManifest {
    margin: 0 auto;
  }
}
