.Market > h2 {
  margin: 0;
  height: calc(0.5in - 1px);
  line-height: calc(0.5in - 1px);
}

.Market__1Diag table,
.Market__1D table {
  height: calc(3.25in - 1px);
}

.Market__1Diag table + table,
.Market__1D table + table {
  margin-top: 0.25in;
}

.MarketCell--SubLabel {
  position: absolute;
  bottom: 0.05in;
  left: 0.18in;
  font-size: 0.8em;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 200%;
}

.MarketCell--Companies {
  position: absolute;
  width: calc(100% - 0.1in);
  height: calc(100% - 0.3in);
  box-sizing: border-box;
  top: 0.25in;
  display: grid;
  grid-template-columns: 100%;
  place-items: stretch;
  place-content: space-between;
}

.MarketCell--Company {
  border-radius: 0.05in;
}
