.StockHelpers {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}

.StockPageWrapper .StockHelpers {
  padding: 0.375in 0.125in;
}

.Token {
  position: relative;
  text-align: center;
}

.Token i {
  position: absolute;
  display: block;
  font-size: 0.12in;
  bottom: -0.15in;
  height: 0.15in;
  width: 0.5in;
}

.rounds--horizontal .Token i {
  top: 0;
  left: 0in;
  width: 0.15in;
  height: 0.5in;
  line-height: 0.5in;
}

.Arrow {
  position: absolute;
  bottom: 2mm;
  right: 1mm;
  font-weight: bold;
  color: black;
}

.Arrow--down, .Arrow--left {
  left: 1mm;
}

.Arrow--right {
  top: 1mm;
}

.Legend {
  width: 3in;
}

.Legend--Horizontal {
  width: calc(100% - 0.1in);
  margin-right: 0.25in;
  height: 1in;
  position: relative;
}

.Legend--Horizontal .notes {
  width: 100%;
  height: 0.42in;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
}

.Legend ul {
  padding: 0;
}

.Legend li {
  margin: 0.05in 0 0 0 !important;
  padding-left: 0.35in !important;

  font-size: 0.13in !important;

  padding: 0.01in 0.1in;
  border-radius: 0.1in;
  position: relative;
}

.Legend--Horizontal .notes li {
  width: auto;
  margin: 0 !important;
}

.Legend li i {
  position: absolute;
  display: inline-block !important;
  left: 0 !important;
}

.Movement {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 0.8in 1fr;
  grid-template-columns: 1fr 0.8in 1fr;
  grid-template-areas: "up up up" "left center right" "down down down";

  font-size: 0.15in;
  margin-bottom: 0.10in;

  box-sizing: border-box;
}

.Movement--item {
  padding: 0.1in;
  font-size: 0.12in;
}

.Movement__center {
  font-size: 0.3in;
  grid-area: center;
  position: relative;
}

.Movement__center i {
  display: block;
  text-align: center;
  position: absolute;
}

.Movement__center i.fa-long-arrow-up {
  top: 0;
  width: 100%;
}

.Movement__center i.fa-long-arrow-down {
  bottom: 0;
  width: 100%;
}

.Movement__center i.fa-long-arrow-left {
  left: 0;
  height: 100%;
  line-height: 0.8in;
}

.Movement__center i.fa-long-arrow-right {
  right: 0;
  height: 100%;
  line-height: 0.8in;
}

.Movement__up {
  grid-area: up;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.Movement__down {
  grid-area: down;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Movement__left {
  grid-area: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.Movement__right {
  grid-area: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
