.TileManifest {
  display: grid;
  grid-template-columns: repeat(4, calc((8in - 5px) / 4));
  grid-template-rows: 0.5in;
  grid-auto-rows: 0.5in;
  grid-auto-flow: row dense;
  gap: 1px;
  grid-template-areas: "title title title title";
  text-align: left;
  width: 768px;
  margin: 0 auto 0.5in;
  font-family: sans-serif;
  font-weight: normal;
}

.TileManifest--Title {
  grid-area: title;
  line-height: 0.5in;
  font-size: 0.25in;
  text-align: center;
}

.TileManifest--Tile {
  display: flex;
  justify-content: center;
  line-height: 0.5in;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #999;
}

.TileManifest--Image {
  height: 0.5in;
  width: 0.5in;
  box-sizing: border-box;
}

.TileManifest--Id {
  width: 0.6in;
  font-size: 0.16in;
  text-align: right;
  padding-right: 0.1in;
  box-sizing: border-box;
}

.TileManifest--Quantity {
  padding-left: 0.1in;
  width: calc(((8in - 5px) / 4) - 1.1in);
  font-size: 0.16in;
  box-sizing: border-box;
}
