nav {
  padding: 1em 2em;
  background-color: #eee;
  border-bottom: 2px solid #ccc;

  > div {
    width: 800px;
    margin: 0 auto;
    position: relative;
  }

  div.select {
    font-family: sans-serif;
    margin-left: 2em;
    display: inline-block;
  }

  h3 {
    margin: 0;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    display: inline-block;

    a:visited {
      color: #000;
    }

    a:hover {
      color: purple;
    }
  }

  a {
    color: #000;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  ul {
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
    margin: 0;
  }

  li {
    float: left;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: calc(-75.0555px - 1em);
    width: 75.0555px;
    height: 65px;
  }
}

.PrintNotes {
  ul {
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
    margin: 1em 0;
  }

  li {
    float: left;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }
}
