.number {
}

.number .card__body {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.number__digit {
  color: white;
  width: 1in;
  height: 1in;
  font-size: 1in;
  line-height: 0.9in;
  text-align: center;
  vertical-align: middle;
}
