.private__name {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.125in 0.125in 0.03125in 0.125in;
  line-height: 0.22in;
  font-size: 0.18in;
  text-align: left;
}

.private__note {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 0.125in 0.05in;
  text-align: left;
  left: 0;
  line-height: 0.105in;
  font-size: 0.12in;
  font-weight: bold;
  font-family: sans-serif;
}

.private__description {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 0.125in;
  text-align: left;
  left: 0;
  line-height: 0.105in;
  font-size: 0.085in;
  font-weight: normal;
  font-family: sans-serif;
}


.private__price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__bid {
  position: absolute;
  bottom: 0.25in;
  left: 0;
  padding: 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.18in;
}

.private__name .private__id {
  position: relative;
  float: right;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 0 0 0.125in;
  padding: 1px 3px 2px 3px;
  font-size: 0.13in;
  font-style: normal;
  line-height: 1;
}

.private__players {
  position: absolute;
  bottom: 0.25in;
  right: 0;
  padding: 0.125in;
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.14in;
}

.private__revenue {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.125in;
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.18in;
}

.private__hex,
.private__tile,
.private__icon,
.private__company {
  float: left;
  padding: 0 1em 1em 0;
  width: 0.3in;
  height: 0.3in;

  svg {
    width: 0.3in;
    height: 0.3in;
  }
}

.private__group {
  float: right;
  line-height: 0.22in;
  font-size: 0.18in;
  margin: 0.125in 0.125in 0 0;
  padding: 0.125in;
}
