.share__hr {
  height: 0.0625in;
  position: absolute;
  bottom: 0.375in;
  width: 100%;
}

.share--left .share__hr {
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 0.25in;
  box-sizing: border-box;
}

.share--gmt .share__hr {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.795in;
}

.share__name {
  box-sizing: border-box;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.125in 0.125in 0 0.125in;
  line-height: 0.20in;
  font-size: 0.16in;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share__subtext {
  box-sizing: border-box;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.0625in 0.125in 0 0.125in;
  line-height: 0.20in;
  text-align: center;
  font-size: 0.12in;
  font-weight: bold;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    margin: auto;
  }

  .share__id {
    box-sizing: border-box;
    position: relative;
    float: right;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px 3px 1px 3px;
    font-size: 0.13in;
    font-style: normal;
    line-height: 1;
  }

  div + span {
    margin-right: 0.125in;
  }
}

.share--center .share__subtext {
  padding-top: 0.75in;
}

.share--left .share__subtext,
.share--gmt .share__subtext,
.share--left .share__name,
.share--gmt .share__name {
  width: calc(100% - 0.67in);
  margin-left: 0.67in;
}

.share__tokens {
  box-sizing: border-box;
  position: absolute;
  top: 0.125in;
  width: 75%;
  height: 0.52in;
  left: 12.5%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.share--left .share__tokens {
  left: 0.075in;
  top: 0.125in;
  width: 0.52in;
  height: calc(100% - 0.25in);
  flex-direction: column;
  overflow: visible;
}

.share--gmt .share__tokens {
  left: 0.075in;
  top: 0.125in;
  width: 0.52in;
  height: calc(100% - 0.25in);
  flex-direction: column;
  overflow: visible;
}

.share__token__wrapper {
  height: 0.52in;
  width: 100%;
  top: -0.26in;
  overflow: hidden;
  position: relative;
}

.share__token {
  height: 0px;
  width: 0.52in;
}

.share__label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5in;
  width: 100%;
  box-sizing: border-box;
}
.share__label__text {
  font-size: 0.12in;
  height: 0.25in;
  line-height: 0.25in;
  padding: 0 0.1in;
  border-radius: 0.06in;
  display: inline-block;
}

.share--gmt .share__label {
  bottom: 0.375in;
  right: 0;
  width: calc(100% - 0.67in);
  margin-left: 0.67in;
  height: 0.5in;
  padding: 0.125in;
}
.share--left .share__label {
  bottom: 0.375in;
  right: 0;
  width: calc(100% - 0.67in);
  margin-left: 0.67in;
  height: 0.5in;
  padding: 0.125in;
}
.share__percent {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.0625in 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.16in;
}

.share--gmt .share__percent,
.share--left .share__percent {
  padding: 0.125in;
}

.share__shares {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.0625in 0.125in;
  height: 0.25in;
  line-height: 0.25in;
  font-size: 0.16in;
}

.share--left .share__shares,
.share--gmt .share__shares {
  margin-left: 0.67in;
  padding: 0.125in;
}
