.train__name {
  color: #000;

  box-sizing: border-box;
  width: 100%;
  height: 0.6875in;
  padding: 0.125in;
  line-height: 1;
  font-size: 0.4375in;
  vertical-align: bottom;
  position: relative;
  font-weight: bold;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.train__price {
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.125in 0.125in 0.03125in 0.03125in;
  border-radius: 0 0 0 0.0625in;

  font-size: 0.25in;
  line-height: 1;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.train__tracks {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.5in;
  bottom: -0.0625in;
  left: 0;
  opacity: 0.25;
}

.train__tracks svg {
  height: 100%;
  width: 100%;
}

.train__hr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.8125in;
}

.train__description {
  position: relative;
  padding: 0.03125in 0.125in 0.03125in 0.03125in;
  float: right;
  box-sizing: border-box;
  text-align: right;
  font-family: sans-serif;
  font-size: 0.12in;
  font-weight: normal;
  line-height: 0.16in;
  background-color: #ffffffb0;
  border-radius: 0 0 0 0.125in;
}

.train__notes {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.125in;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.train__info {
  height: 0.25in;
  line-height: 0.25in;
  padding: 0 0.1in;
  margin-top: 0.05in;
  border-radius: 0.06in;
}

.train__players {
  line-height: 0.25in;
  height: 0.25in;
  font-size: 0.14in;
  margin-top: 0.05in;
}

.train__image {
  box-sizing: border-box;
  position: absolute;
  top: 0.25in;
  width: 100%;

  img {
    width: 72%;
    padding-left: 3%;
  }
}

.train--number .train__name {
  -webkit-text-stroke: 2px black;
}

.train .train__id {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.125in;

  div {
    border: 1px solid black;
    border-radius: 2px;
    float: left;
    padding: 1px 3px 2px 3px;
    font-size: 0.13in;
    font-style: normal;
    line-height: 1;
  }
}
